---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const { pageTitle } = Astro.props;

const identity = {
    firstName: "demon",
    country: "japan",
    occupation: "drift king",
    hobbies: ["drifting", "driving faste", "fast!!!"],
};

const skills = ["reverse entry", "sycnro drift", "kansei drifto"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle = {pageTitle}>
    <div>
        <h2>... yes bro i am wemple</h2>
        <p>The tc wemple stone of highest heaven wemple temple.</p>
    
        <h3> here is some stuff about me </h3>
        <u1>
            <li> My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </u1>
    
        <p>My skills are: </p>
        <u1>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </u1>
    
        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finished this tutorial!</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
    </div>
</BaseLayout>